<h4>Authentication</h4>

<form class="form-horizontal" action="/auth/login/done" method="post">
    <input type="hidden" name="token" value="{{ token }}">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="id">Paste the <strong>ID</strong> you copied</label>
        <div class="col-sm-4">
            <input class="form-control" id="id" name="id" type="text">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Save</button>
        </div>
    </div>
</form>
