<h4>Authentication</h4>

<form class="form-horizontal" action="/auth/login">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id">Copy this <strong>ID</strong> in a safe place</label>
        <div class="col-sm-4">
            <input class="form-control" id="id" type="text" value="{{ id }}" readonly>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Sign in with GitLab</button>
        </div>
    </div>
</form>
