<h4>Authentication</h4>

<div style="width: 140px; margin: 0 auto 15px auto">
    <div style="width: 140px; height: 140px; border-radius: 50%; background-color: #2faa60; text-align: center; color: white; vertical-align: middle; display: table-cell">
        <i class="fa fa-fw fa-check fa-5x"></i>
    </div>
</div>

<p style="text-align: center">You have been successfully authenticated.</p>
