<h4>Available commands</h4>

<div class="alert alert-info">
    <ul>
        <li>Code blocks represent command parameters: <code>parameter</code></li>
        <li>Words between brackets represent optional parameters: [optional]</li>
        <li>Words between parenthesis represent alternative parameters: (parameter|params)</li>
    </ul>
</div>

<ul class="content-list">
    {{ #commands }}
    <li>
        {{{ . }}}
    </li>
    {{ /commands }}
</ul>
