<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ robot.name }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" media="all" href="/application.css">
  <link rel="stylesheet" media="print" href="/print.css">
</head>

<body class="ui_charcoal">

<header class="header-expanded navbar navbar-fixed-top navbar-gitlab">
    <div class="container-fluid">
        <div class="header-content">
            <h1 class="title">{{ title }}</h1>
        </div>
    </div>
</header>

<div class="page-sidebar-expanded page-with-sidebar">
    <div class="sidebar-wrapper nicescroll" tabindex="0" style="overflow: hidden; outline: none;">
        <div class="header-logo">
            <a class="home" href="/" title="Hubot">
                <img src="/hubot.png" style="width: auto; height: 36px"/>

                <div class="gitlab-text-container">
                    <h3>Hubot</h3>
                </div>
            </a>
        </div>
        <ul class="nav nav-sidebar">
            {{ #menu }}
            <li class="{{ class }}">
                <a class="shortcuts-project" href="{{ url }}" title="{{ label }}">
                    <i class="fa fa-{{ icon }} fa-fw"></i>
                    <span>{{{ label }}}</span>
                </a>
            </li>
            {{ /menu }}
        </ul>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            {{ >content }}
        </div>
    </div>
</div>

</body>
</html>
