<div class="cover-block">
    <div class="avatar-holder">
        <img class="avatar s90" style="width: auto" src="{{ avatar }}">
    </div>
    <div class="cover-title">{{ robot.name }}</div>
    <div class="cover-desc">
        Version: {{ robot.version }} <strong>&middot;</strong> Adapter: {{ robot.adapterName }}
    </div>
</div>

<h4>Environment</h4>

<table class="table">
    <thead>
    <tr>
        <th>Variable</th>
        <th>Value</th>
    </tr>
    </thead>

    <tbody>
    {{ #env }}
        <tr>
            <td><code>{{ key }}</code></td>
            <td><code>{{ value }}</code></td>
        </tr>
    {{ /env }}
    </tbody>
</table>
