/* Generic print styles */
header, nav, nav.main-nav, nav.navbar-collapse, nav.navbar-collapse.collapse {
  display: none !important; }

.profiler-results {
  display: none; }

/* Styles targeted specifically at printing files */
.tree-ref-holder, .tree-holder .breadcrumb, .blob-commit-info {
  display: none; }

.file-title {
  display: none; }

.file-holder {
  border: none; }

.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6 {
  margin-top: 17px; }

.wiki h1 {
  font-size: 30px; }

.wiki h2 {
  font-size: 22px; }

.wiki h3 {
  font-size: 18px;
  font-weight: bold; }

.sidebar-wrapper {
  display: none; }

.nav {
  display: none; }

.btn {
  display: none; }
